/* =define margin superior da página como 0 */
*{margin: 0;
padding:0;
}

/* =container da página */
#container {
    margin: 0px auto 0px auto;
	width: 960px;
	background:#ccddbb; 
}
#cabecalho {
    margin:0px auto 0px auto;
    width:960px;
    height:82px;
    position:relative;
	background:#c0c0c0; 
}
#corpo {
    margin: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 500px;		
}
nav{
    margin:0px auto 0px auto;
    width:160px;
    height:500px;
	float:left;
	background:#c0c0ff; 	
}
section {
    margin:0px auto 0px auto;
    width:618px;
    height:500px;
	float:left;
	background:#c0c088; 
	margin-left:10px;	
}
.cabecalho_artigo {
    margin:0px auto 0px auto;
    width:598px;
    height:50px;
	float:left;
	background:#c0c0c0; 
	margin:10px;	
}
.artigo {
    margin:0px auto 0px auto;
    width:598px;
    height:330px;
	float:left;
	background:#c0c0c0; 
	margin:10px;	
}
.rodape_artigo {
    margin:0px auto 0px auto;
    width:598px;
    height:50px;
	float:left;
	background:#c0c0c0; 
	margin:10px;	
}
#propaganda {
    margin:0px auto 0px auto;
    width:160px;
    height:500px;
	float:left;
	background:#c0c000; 
	margin-left:10px;
}
#rodape {
    margin: 0px auto;
    padding-bottom: 20px;
	width: 960px;
	position: relative;
	background:#c0c0c0;  
}

/* Clear Floated Elements 
.clearfix:before, .clearfix:after {content: "\0020"; 
display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }*/